<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    
		    <mapper namespace="com.im.start.board.notice.NoticeDAO">
		    	<sql id="search">
		    		WHERE
				 		<choose>
				 			<when test="kind=='Title'">title</when>
				 			<when test="kind=='Writer'">writer</when>
				 			<otherwise>contents</otherwise>
				 		</choose>
				 	LIKE '%'||#{search}||'%' 	
				</sql>
		    
		    
		    
		    
		    
		    
		    	<select id="getList" parameterType="Pager" resultType="NoticeDTO" >
		    	SELECT * FROM
				( SELECT ROWNUM R,N.*
				 FROM (SELECT * FROM NOTICE 
				 	
				 	<include refid="search"></include>
				 	
				 order by num desc) N)
				 WHERE R BETWEEN #{startRow} AND #{lastRow}
		    	</select>
		    	
		    	<select id="getDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
		    	SELECT * FROM NOTICE WHERE NUM = #{num}
		    	</select>
		    	
		    	<insert id="setAdd" parameterType="NoticeDTO">
		    	INSERT INTO NOTICE VALUES (BOARD_SEQ.NEXTVAL,#{title},#{contents},#{writer},SYSDATE,0)
		    	</insert>
		    	
		    	<update id="setUpdate" parameterType="NoticeDTO">
		    	UPDATE notice SET TITLE = #{title} , CONTENTS = #{contents} WHERE NUM = #{num} 
		    	</update>
		    	
		    	<delete id="setDelete" parameterType="NoticeDTO">
		    	DELETE NOTICE WHERE NUM = #{num}
		    	</delete>
		    	
		    	<select id="getNum"  parameterType="Pager" resultType="Long">
		    	SELECT COUNT(NUM) FROM NOTICE <include refid="search"></include>
		    	</select>
		    
		    
		    </mapper>