<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.start.BankMembers.BankMembersDAO">
<!-- id는 DAO의 메서드명과 동일하게 -->


	<insert id="setAddFile" parameterType="BankMembersFileDTO">
		INSERT INTO MEMBERFILE VALUES (FILE_SEQ.NEXTVAL,#{fileName},#{oriName},#{userID})
	</insert>



	<select id="getMyPage" parameterType="BankMembersDTO" resultMap="getMyPageResult">
		SELECT BM.ID , BM.NAME , BM.EMAIL , BM.PHONE ,MF.FILENUM,MF.FILENAME, BA.ACCOUNTNUM, BB.BOOKNAME, BA.ACCOUNTDATE
		FROM bankmembers BM
			LEFT JOIN
			MEMBERFILE MF
			ON BM.ID = MF.USERID
			LEFT JOIN
			bankaccount BA
			ON BM.ID = BA.USERID
			LEFT JOIN
			BANKBOOK BB
			ON BA.BOOKNUM = bb.booknum
		WHERE ID = #{ID}
	</select>
	<resultMap type="BankMembersDTO" id="getMyPageResult">
		<id property="ID" column="ID"/>
		<result property="name" column="NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		
		<association property="bankMembersFileDTO" javaType="BankMembersFileDTO">
			<result property="fileName" column="FILENAME"/>
			<result property="fileNum" column="FILENUM"/>
		</association>
		
		<collection property="accountDTOs" javaType="List" ofType="BankAccountDTO">
			<id property="accountNum" column="ACCOUNTNUM"/>
			<result property="accountDate" column="ACCOUNTDATE"/> 
			<association property="bankBookDTO" javaType="BankBookDTO">
				<result property="bookName" column="BOOKNAME"/>
			</association>
		</collection>
	
	</resultMap>


	<select id="getLogin" parameterType="BankMembersDTO" resultMap="getRole">
		select M.ID, M.NAME , MR.ROLENUM, R.ROLENAME
		from BANKMEMBERS M
		    INNER JOIN 
		    MEMBER_ROLE MR
		    ON M.ID = MR.USERID
		    INNER JOIN
		    ROLE R
		    ON MR.ROLENUM = R.ROLENUM
		WHERE M.ID = #{ID} AND M.PW = #{PW}
		ORDER BY R.ROLENUM ASC
	</select>
	<resultMap type="BankMembersDTO" id="getRole">
		<id property="ID" column="ID"/>
		<result property="name" column="NAME"/>
		<collection property="roleDTOs" javaType="List" ofType="RoleDTO">
			<id property="roleNum" column="ROLENUM"/>
			<result property="roleName" column="ROLENAME"/>
		</collection>
	</resultMap>
	
	
	<select id="getSearchByID" parameterType="String" resultType = "BankMembersDTO">
		SELECT * FROM BANKMEMBERS WHERE ID LIKE '%'||#{search}||'%' ORDER BY ID ASC
	</select>
	<select id="setJoin" parameterType="BankMembersDTO">
		INSERT INTO BANKMEMBERS VALUES(#{ID},#{PW},#{name},#{email},#{phone})
	</select>
</mapper>