<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    
		    <mapper namespace="com.im.start.board.notice.NoticeDAO">
		    
		    	<insert id="setAddFiles" parameterType="BoardFileDTO">
		    	INSERT INTO NOTICEFILE VALUES (FILE_SEQ.NEXTVAL,#{fileName},#{oriName},#{num})
		    	</insert>
		    
		    
		    
		    
		    
		    	<sql id="search">
		    		WHERE
				 		<choose>
				 			<when test="kind=='Title'">title</when>
				 			<when test="kind=='Writer'">writer</when>
				 			<otherwise>contents</otherwise>
				 		</choose>
				 	LIKE '%'||#{search}||'%' 	
				</sql>
		    
		    
		    
		    
		    
		    
		    	<select id="getList" parameterType="Pager" resultType="NoticeDTO" >
		    	SELECT * FROM
				( SELECT ROWNUM R,N.*
				 FROM (SELECT * FROM NOTICE 
				 	
				 	<include refid="search"></include>
				 	
				 order by num desc) N)
				 WHERE R BETWEEN #{startRow} AND #{lastRow}
		    	</select>
		    	
		    	<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult"> 
		    	select NO.* , NF.*
				from notice no
				    left join
				    noticefile nf
				    on no.num = nf.num
				where no.num=#{num}
		    	</select>
		    	
		    	
		    	<resultMap type="NoticeDTO" id="getDetailResult">
		    		<id property="num" column="NUM"/>
		    		<result property="title" column="TITLE"/>
		    		<result property="contents" column="CONTENTS"/>
		    		<result property="writer" column="WRITER"/>
		    		<result property="regDate" column="REGDATE"/>
		    		<result property="hit" column="HIT"/>
		    		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
		    				<id property="fileNum" column="FILENUM"/>
		    				<result property="fileName" column="FILENAME"/>	
		    				<result property="oriName" column="ORINAME"/>	
		    		
		    		</collection>
		    	
		    	
		    	
		    	
		    	</resultMap>
		    	
		    	
		    	
		    	
		    	
		    	
		    	
		    	
		    	<insert id="setAdd" parameterType="NoticeDTO">
		    		<selectKey order="BEFORE" keyProperty="num" resultType="Long">
                  	SELECT BOARD_SEQ.NEXTVAL FROM DUAL
             	 	 </selectKey>
		    	
		    	INSERT INTO NOTICE VALUES (#{num},#{title},#{contents},#{writer},SYSDATE,0)
		    	</insert>
		    	
		    	<update id="setUpdate" parameterType="NoticeDTO">
		    	UPDATE notice SET TITLE = #{title} , CONTENTS = #{contents} WHERE NUM = #{num} 
		    	</update>
		    	
		    	<delete id="setDelete" parameterType="NoticeDTO">
		    	DELETE NOTICE WHERE NUM = #{num}
		    	</delete>
		    	
		    	<select id="getNum"  parameterType="Pager" resultType="Long">
		    	SELECT COUNT(NUM) FROM NOTICE <include refid="search"></include>
		    	</select>
		    
		    
		    </mapper>