.c1 {
    background-color: springgreen;
    /* 가로 width */
    width: 500px;
    /* 세로 height */
    height: 300px;

    margin-top: 200px;
    margin-left: 200px;

    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: black;


   /* short hand */
   border-right: solid red 5px;


}
.c2{
    width: 300px;
    height: 300px;
    border: dashed red 5px;



}